<html>
  <head>
    <title>登录</title>
  </head>

  <body>

    
    <hr/>
    <h3>Login1</h3>
    <form method="POST" action="login">
      <label for="username">username:</label>
        <input type="text" name="username" size="50"/><br/>
      <!--<label for="reader">reader:</label>
        <input type="text" name="reader" size="50"/><br/>-->
      <label for="password">password:</label>
        <input type="password" name="password" size="15"/><br/>
      <input type="submit" value="login"/>
    </form>
    <hr/>
    <h3>Register</h3>
    <form method="POST" action="register">
      <label for="username">username:</label>
        <input type="text" name="username" size="50"/><br/>
      <!--<label for="reader">reader:</label>
        <input type="text" name="reader" size="50"/><br/>-->
      <label for="fullname">fullname:</label>
        <input type="text" name="fullname" size="50"/><br/>
      <label for="password">password:</label>
        <input type="password" name="password" size="15"/><br/>
      <input type="submit" value="提交注册"/>
    </form>
    <h3>shutdown</h3>
    <form method="POST" action="localhost:8081/actuatordemo/shutdown">
      <input type="submit" value="shutdown"/>
    </form>

  </body>
</html>